<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <div th:replace="fragments/menu :: sidebar"></div>
<h1>Edit Profile</h1>

<form th:action="@{/profile/edit}" th:object="${userProfile}" method="post">
    <input type="hidden" th:field="*{profileId}" />
    <div>
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" th:field="*{firstName}" />
    </div>
    <div>
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" th:field="*{lastName}" />
    </div>
    <div>
        <label for="address">Address:</label>
        <input type="text" id="address" th:field="*{address}" />
    </div>
    <div>
        <label for="phoneNumber">Phone Number:</label>
        <input type="text" id="phoneNumber" th:field="*{phoneNumber}" />
    </div>
    <button type="submit">Save Changes</button>
</form>

<a href="/profile" class="button-link">Back to Profile</a>
</div>
</body>
</html>