<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Report Entry</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <div th:replace="fragments/menu :: sidebar"></div>
    <h1>Add Report Entry</h1>
    <form th:action="@{/report-entries/add}" th:object="${reportEntry}" method="post">
        <input type="hidden" name="reportId" th:value="${reportId}"/>

        <div>
            <label for="transaction">Transaction:</label>
            <select id="transaction" th:field="*{transaction.id}" required>
                <option th:each="transaction : ${transactions}" th:value="${transaction.id}" th:text="${transaction.description}"></option>
            </select>
        </div>

        <div>
            <label for="description">Description:</label>
            <input type="text" id="description" th:field="*{description}" required />
        </div>

        <div>
            <label for="amount">Amount:</label>
            <input type="number" step="0.01" id="amount" th:field="*{amount}" required />
        </div>

        <div>
            <label for="category">Category:</label>
            <select id="category" th:field="*{category.id}" required>
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
            </select>
        </div>

        <button type="submit" class="button-link">Save</button>
        <a th:href="@{/report-entries/{id}(id=${reportId})}" class="button-link">Cancel</a>
    </form>
</div>
</body>
</html>
