<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Report Entry</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <div th:replace="fragments/menu :: sidebar"></div>
    <h1>Edit Report Entry</h1>

    <form th:action="@{/report-entries/edit/{id}(id=${reportEntry.id})}" th:object="${reportEntry}" method="post">
        <div>
            <label for="description">Description:</label>
            <input type="text" id="description" th:field="*{description}" required />
        </div>

        <div>
            <label for="amount">Amount:</label>
            <input type="number" step="0.01" id="amount" th:field="*{amount}" required />
        </div>

        <div>
            <label for="category">Category:</label>
            <select id="category" th:field="*{category.id}">
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
            </select>
        </div>

        <button type="submit" class="button-link">Update</button>
        <a th:href="@{/report-entries/${reportEntry.report.id}}" class="button-link">Cancel</a>
    </form>
</div>
</body>
</html>
