<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Category</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <div th:replace="fragments/menu :: sidebar"></div>
<h1>Edit Category</h1>
<form th:action="@{/categories/edit/{id}(id=${category.id})}" th:object="${category}" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}" />
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    </div>

    <div>
        <label for="description">Description:</label>
        <input type="text" id="description" th:field="*{description}" />
        <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
    </div>

    <div>
        <button type="submit">Update</button>
    </div>
</form>
<a href="/categories">Back to Categories</a>
</div>
</body>
</html>