<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<<div class="container">
    <div th:replace="fragments/menu :: sidebar"></div>
<h1>Login</h1>

<form th:action="@{/login}" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required />
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
    </div>

    <div>
        <button type="submit">Login</button>
    </div>
</form>

<div th:if="${errorMessage}">
    <p style="color:red;" th:text="${errorMessage}"></p>
</div>

<a href="/register" class="button-link">Register</a>
</div>
</body>
</html>